<template>
  <div>
    <div
      class="_reply_main"
      v-for="(r, i) in replies"
      :key="i"
      v-if="replies.length"
    >
      <a href="" class="_comment_pic">
        <img alt="" title="" class="_comment_img" :src="r.user.profile_pic" />
      </a>
      <div class="_comment_details">
        <div class="_comment_details_top">
          <div class="_comment_name">
            <a href="" class="_comment_name_text">
              {{ r.user.first_name }} {{ r.user.last_name }}
            </a>
          </div>
          <div
            class="_comment_more"
            v-if="r.user.id == $store.state.authUser.id"
          >
            <Dropdown
              trigger="click"
              placement="bottom-end"
              @on-click="editOrDeleteComment($event, r, i)"
            >
              <a class="_more" href="javascript:void(0)">
                <i class="fas fa-angle-down"></i>
              </a>

              <DropdownMenu slot="list">
                <DropdownItem name="Edit">Edit</DropdownItem>
                <DropdownItem name="Delete">Delete</DropdownItem>
              </DropdownMenu>
            </Dropdown>
          </div>
        </div>
        <div class="_comment_status">
          <p class="_comment_status_text" v-if="!r.isCommentEdit">
            {{ r.comment_txt }}
          </p>
          <!-- edit comment -->
          <div class="_1card_comment_box" v-if="r.isCommentEdit">
            <div class="_1card_comment_box_pic _load_div">
              <img
                class="_1card_comment_box_img"
                :src="$store.state.authUser.profile_pic"
                alt=""
                title=""
              />
            </div>
            <div class="_1card_comment_box_input_icon">
              <div class="_1card_comment_box_input">
                <Input
                  type="text"
                  v-model="commentEditTxt"
                  @on-enter="editComment(r)"
                  placeholder="Write a comment..."
                />
              </div>
            </div>
            <p class="_commentcancel" @click="r.isCommentEdit = false">
              Cancel
            </p>
          </div>
        </div>
        <!-- reply likes.... -->
        <div class="_comment_reply">
          <div class="_comment_reply_num">
            <ul class="_comment_reply_list">
              <li class="" @click="likeComment(r)">
                <svg
                  style="enable-background: new 0 0 512 512; margin-bottom: 0px"
                  class="_1card_count_img"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.com/svgjs"
                  version="1.1"
                  x="0"
                  y="0"
                  viewBox="0 0 16 16"
                  xml:space="preserve"
                >
                  <g
                    transform="matrix(0.9799999999999999,0,0,0.9799999999999999,0.16000000000000103,0.16100000381469837)"
                  >
                    <path
                      xmlns="http://www.w3.org/2000/svg"
                      :fill="r.commentlike ? '#2b78f4' : '#65676b'"
                      d="M16 7.1c0-1.5-1.4-2.1-2.2-2.1h-2.2c0.4-1 0.7-2.2 0.5-3.1-0.5-1.8-2-1.9-2.5-1.9h-0.1c-0.4 0-0.6 0.2-0.8 0.5l-1 2.8-2.7 2.7h-5v9h5v-1c0.2 0 0.7 0.3 1.2 0.6 1.2 0.6 2.9 1.5 4.5 1.5 2.4 0 3.2-0.3 3.8-1.3 0.3-0.6 0.3-1.1 0.3-1.4 0.2-0.2 0.5-0.5 0.6-1s0.1-0.8 0-1.1c0.2-0.3 0.4-0.7 0.5-1.3 0-0.5-0.1-0.9-0.2-1.2 0.1-0.4 0.3-0.9 0.3-1.7zM2.5 13.5c-0.6 0-1-0.4-1-1s0.4-1 1-1 1 0.4 1 1c0 0.6-0.4 1-1 1zM14.7 9.1c0 0 0.2 0.2 0.2 0.7 0 0.6-0.4 0.9-0.4 0.9l-0.3 0.3 0.2 0.3c0 0 0.2 0.3 0 0.7-0.1 0.4-0.5 0.7-0.5 0.7l-0.3 0.3 0.2 0.4c0 0 0.2 0.4-0.1 0.9-0.2 0.4-0.4 0.7-2.9 0.7-1.4 0-3-0.8-4.1-1.4-0.8-0.4-1.3-0.6-1.7-0.6v0-6h0.1c0.2 0 0.4-0.1 0.6-0.2l2.8-2.8c0.1-0.1 0.1-0.2 0.2-0.3l1-2.7c0.5 0 1.2 0.2 1.4 1.1 0.1 0.6-0.1 1.6-0.6 2.8-0.1 0.3-0.1 0.5 0.1 0.8 0.1 0.2 0.4 0.3 0.7 0.3h2.5c0.1 0 1.2 0.2 1.2 1.1 0 0.8-0.3 1.2-0.3 1.2l-0.3 0.4 0.3 0.4z"
                      data-original="#444444"
                      style=""
                      class=""
                    />
                  </g>
                </svg>
                <span v-if="!r.commentlike"
                  >{{ r.like_count > 0 ? c.like_count : "" }}
                  {{ r.like_count > 1 ? "Likes" : "Like" }}</span
                >
                <span v-else :class="`reaction-like reaction_text`"
                  >{{ r.like_count > 0 ? r.like_count : "" }}
                  {{ r.like_count > 1 ? "Likes" : "Like" }}</span
                >
              </li>
            </ul>
          </div>
          <div class="_comment_reply_time">
            <p class="_comment_reply_time_text">
              {{ r.created_at | luxonRelative }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- add reply form -->
    <replybox
      v-if="comment.isBoxOpen"
      :comment="comment"
      :replies="replies"
    ></replybox>
    <!-- delete comment confirmation -->
    <Modal v-model="isDeleteComment" width="360">
      <p slot="header" style="color: #f60; text-align: center">
        <Icon type="ios-information-circle"></Icon>
        <span>Delete confirmation</span>
      </p>
      <div style="text-align: center">
        <p>Are you sure you want to delete this comment?</p>
      </div>
      <div slot="footer">
        <Button
          type="error"
          size="large"
          long
          :loading="isDeleting"
          @click="deleteComment"
          >Delete</Button
        >
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import replybox from "./replyBox.vue";
export default {
  props: ["replies", "comment"],
  data() {
    return {
      isEdit: false,
      commentEditTxt: "",
      isDeleteComment: false,
      isDeleting: false,
      commentObj: null,
      commentDeleteIndex: -1,
    };
  },

  methods: {
    async likeComment(c) {
      let likeObj = {
        comment_id: c.id,
      };
      const res = await this.callApi("post", "comment/likeComment", likeObj);
      if (res.status == 200) {
        if (c.commentlike) {
          c.like_count--;
          delete c.commentlike;
        } else {
          c.like_count++;
          c.commentlike = likeObj;
        }
      }
    },
    editOrDeleteComment(v, c, i) {
      // edit/delete / comment obj
      if (v == "Edit") {
        this.commentEditTxt = c.comment_txt;
        this.$set(c, "isCommentEdit", true);
      } else {
        this.isDeleteComment = true;
        this.commentObj = c;
      }
      this.commentDeleteIndex = i;
    },
    async editComment(c) {
      const res = await this.callApi("post", "comment/editComment", {
        id: c.id,
        comment_txt: this.commentEditTxt,
      });
      if (res.status == 200) {
        c.comment_txt = this.commentEditTxt;
        this.commentEditTxt = "";
        c.isCommentEdit = false;
      }
    },
    async deleteComment() {
      this.isDeleting = true;
      const res = await this.callApi("post", "comment/deleteComment", {
        id: this.commentObj.id,
        feed_id: this.commentObj.feed_id,
        parrent_id :this.commentObj.parrent_id
      });
      if (res.status == 200) {
        this.comment.replies.splice(this.commentDeleteIndex, 1);
        this.comment.reply_count--;
        this.isDeleteComment = false;
        this.s("Comment has been deleted!");
      }
      this.isDeleting = false;
    },
  },

  computed: {
    ...mapGetters({}),
  },
  components: {
    replybox,
  },
};
</script>
