<template>
  <div class="_1card_comment_box" >
     <div class="_1card_comment_box_pic _load_div">
            <img
              alt=""
              title=""
              class="_1card_comment_box_img"
              :src="$store.state.authUser.profile_pic"
            />
          </div>
        <div class="_1card_comment_box_input_icon">
          <div class="_1card_comment_box_input">
              <Input
                type="text"
                v-model="reply.comment_txt"
                @on-enter="createComment"
                placeholder="Write a reply..."
              />

          </div>
        </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props : ['comment', 'replies'],
  data() {
    return {
        reply : {
           comment_txt : '',
           feed_id : null,
           parrent_id: null
        }
    };
  },

  methods: {
   async createComment() {
      console.log(this.replies)
      this.reply.comment_txt = this.reply.comment_txt.trim()
      this.reply.feed_id = this.comment.feed_id,
      this.reply.parrent_id = this.comment.id
      if (!this.reply.comment_txt || this.reply.comment_txt == "") return this.i("Please write your comment first");

      const res = await this.callApi(
        "post",
        "comment/createComment",
        this.reply
      );
      if (res.status == 200) {
          let obj = res.data;
          obj.user = this.$store.state.authUser;
          obj.commentlike = null
          obj.like_count = 0
          obj.reply_count = 0
          this.replies.push(obj)
          this.comment.reply_count++
          // this.$store.commit("pushReply", obj);
          //this.$store.commit("increaseCommentCounter", obj);
          this.reply.comment_txt = "";
      }
    },
  },

  computed: {
    ...mapGetters({}),
  },

};
</script>
