<template>
  <div>
      <div class="_statusBox_layout" v-if="query.editing=='yes'">
          <statusBox/>
      </div>
       <!-- Feed -->
      <div class="_feed_main">
          <feed :query="query"/>
      </div>
      <!-- Feed -->
  </div>
</template>


<script>

import statusBox from '../../components/feed/statusBox'
import feed from '../../components/feed/feed'
export default {
    middleware : 'auth',
    data(){
      return {

      }
    },
    async asyncData({app, store,params, redirect,query}) {
        let id = parseInt(params.id)
        if(id < 1) return redirect('/404')
        let index = store.state.feeds.findIndex((f) => f.id == id)
        if(index > -1){
            store.commit('setFeed', [store.state.feeds[index]])
        }else{
           try {
            let {data} = await app.$axios.get(`/feed/getSingleFeed/${id}`)
              if(!data) return redirect('/404')
              store.commit('setFeed', data)

            } catch (error) {
                console.log(error)
            }
        }
        return {
           query
        }


    },

    components : {
      statusBox,
      feed,
    }
}
</script>


