<template>
   <div class="_1main_content">
        <div class="_layout">
            <div class="_layout_row">
                <!-- Sidebar -->
                <div class="_layout_auto _layout_sidebar_left">
                    <div class="_sidebar_main">
                        <leftMenu/>
                    </div>
                </div>
                <!-- Sidebar -->

                <!-- Feed and Status box -->
                <div class="_layout_col">
                    <Nuxt />
                </div>
                <!-- Feed and Status box -->

                <!-- Right section -->
                <div class="_layout_auto _layout_chatList_right">
                    <div class="_rightSec_main">
                        <rightChatList/>
                    </div>
                </div>
                <!-- Right section -->
            </div>
        </div>
    </div>
</template>

<script>
import leftMenu from './leftMenu'
import rightChatList from './rightChatList'
import topMenu from './topMenu'
import masterLayout from './masterLayout'
  export default {
    components : {
        leftMenu,
        rightChatList,
        topMenu,
        masterLayout
    }

  }

</script>
