
<template>
    <div>
        <!-- Shimmer -->
        <!-- <template v-if="isHide">
            <div v-for="(item, index) in 2" :key="index" class="_card _mar_b20">
                <div class="_card_shimmer">
                    <div class="_card_shimmer_profilePic _shim_animate"></div>
                    <div class="_card_shimmer_details">
                    <div class="_card_shimmer_name _shim_animate"></div>
                    <div class="_card_shimmer_text _shim_animate"></div>
                    </div>
                </div>

                <div class="_card_shimmer_status">
                    <div class="_card_shimmer_status_text _shim_animate _shim_w90"></div>
                    <div class="_card_shimmer_status_text _shim_animate _shim_w60"></div>
                </div>

                <div class="_card_shimmer_bottom">
                    <div class="_card_shimmer_like like _shim_animate"></div>
                    <div class="_card_shimmer_like comment _shim_animate"></div>
                    <div class="_card_shimmer_like share _shim_animate"></div>
                </div>
            </div>
        </template> -->
        <!-- Shimmer -->

        <template >
            <div class="_card _mar_b20" v-for="(f, i) in feeds" :key="i" v-if="feeds.length">
                <div class="_card_top_all">
                    <div class="_card_top">
                        <a href="" class="_card_pic">
                            <img alt="" title="" class="_card_img" :src="f.user.profile_pic">
                        </a>
                        <div class="_card_details">
                            <div class="_card_name_all">
                                <span class="_card_name_main">
                                    <a href="" class="_card_name">{{f.user.first_name}} {{f.user.last_name}}</a>

                                    <!-- Hover Profile info -->
                                    <div class="_pro_info">
                                        <div class="_pro_info_cover">
                                            <img class="_pro_info_cover_img" src="/static/img/image_1608226845923.jpeg" alt="" title="">
                                        </div>

                                        <div class="_pro_info_top">
                                            <div class="_pro_info_pro">
                                                <img class="_pro_info_pro_img" src="/static/img/pic.jpg" alt="" title="">
                                            </div>

                                            <div class="_pro_info_main">
                                                <p class="_1text_overflow">
                                                    <router-link  class="_pro_info_title" to="/profile">
                                                        Karen River
                                                    </router-link>
                                                </p>
                                                <!-- <p><a href="" class="_pro_info_pre">3 followers</a></p> -->

                                                <ul class="_pro_info_list">
                                                    <li><i class="fas fa-users"></i> 1 mutual friends</li>
                                                    <li><i class="fas fa-briefcase"></i> Whiter at <strong> Home</strong></li>
                                                    <li><i class="fas fa-map-marker"></i> From <strong>Latche</strong></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <ul class="_pro_info_buttons">
                                            <li>
                                                <button class="_2btn _btn_pre _btn_sm"><i class="fas fa-check"></i> Friends</button>
                                            </li>
                                            <li>
                                                <button class="_3btn _btn_pre _btn_sm _pre_img">
                                                    <svg class="_btn_img" style="width:15px; height:auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 135.46666 135.46667" xml:space="preserve"><g><g xmlns="http://www.w3.org/2000/svg" id="layer1"><path id="rect1437" d="m11.698046 20.664689c-6.4813896 0-11.69804983 5.21762-11.69804983 11.69843v.3843l58.39118183 40.80741c2.589688 1.80889 5.967679 2.70969 9.347488 2.7095 3.37798 0 6.755961-.900219 9.34565-2.7095l58.382344-40.79838v-.39294c0-6.48091-5.21666-11.69844-11.69815-11.69844zm-11.69804983 21.85919v60.579661c0 6.48091 5.21666023 11.69843 11.69804983 11.69843h112.070464c6.48149 0 11.69815-5.21752 11.69815-11.69843v-60.570441l-58.382344 40.798279c-2.589689 1.808991-5.96767 2.709501-9.34565 2.709501-3.379809 0-6.7578-.900219-9.347488-2.709501z" paint-order="fill markers stroke" fill="#0392f8" data-original="#000000"></path></g></g></svg>
                                                    Message
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Hover Profile info -->
                                </span>
                                <!-- <span class="_card_name_span">updated the profile picture</span> -->
                            </div>
                            <p class="_card_time">
                                {{f.created_at | luxonRelative}}
                                <span class="_card_time_public">
                                    <i class="fas fa-globe"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="_card_top_more">
                        <Dropdown trigger="click" placement="bottom-end">
                            <a class="_more" href="javascript:void(0)">
                                <i class="fas fa-angle-down"></i>
                            </a>
                            <DropdownMenu slot="list">
                                <DropdownItem><p class="_drop_text _drop_pre_icon"><i class="fas fa-bookmark"></i> Save Post</p></DropdownItem>
                                <DropdownItem><p class="_drop_text _drop_pre_icon"><i class="fas fa-flag"></i> Report Post</p></DropdownItem>
                                <DropdownItem divided><p class="_drop_text _drop_pre_icon"><i class="fas fa-thumbtack"></i> Pin Post</p></DropdownItem>
                                <DropdownItem><p class="_drop_text _drop_pre_icon"><i class="fas fa-pencil-alt"></i> Edit Post</p></DropdownItem>
                                <DropdownItem><p class="_drop_text _drop_pre_icon"><i class="fas fa-trash-alt"></i> Delete Post</p></DropdownItem>
                                <DropdownItem><p class="_drop_text _drop_pre_icon"><i class="fas fa-eye-slash"></i> Turn off Commenting</p></DropdownItem>
                                <DropdownItem divided><p class="_drop_text _drop_pre_icon"><i class="fas fa-link"></i> Open post in new tab</p></DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </div>
                </div>

                <div class="_card_body">
                    <p class="_card_text"><span>{{f.feed_txt}}</span></p>
                    <linkPreview v-if="f.meta_data && f.meta_data.linkMeta" :feed="f"></linkPreview>
                    <div class="_card_status_pic_all" v-if="f.activity_type=='image'">

                        <div  class="_card_status_pic" v-if="f.files.length" @click="checkPostMove(f)">
                            <img alt="" title="" class="_card_status_img" :src="`http://localhost:3333/image/${f.files[0].fileLoc}`" lazy="loaded" />
                        </div>
                         <div class="_imageModal" v-if="showImageModal">
                              <div class="_imageModal_main">
                                  <!-- Left -->
                                  <div class="_imageModal_left">
                                      <div class="_imageModal_pic">
                                          <img class="_imageModal_img" :src="`http://localhost:3333/image/ckptbz5j90009qwi597hdhcj5.png`" alt="" title="">
                                      </div>
                                  </div>
                                  <!-- Left -->
                                  <div class="_imageModal_right">
                                      <p @click="showImageModal = false" class="_imageModal_right_close">
                                          <Icon type="md-close" />
                                      </p>

                                      <div class="_card_top">
                                          <a href="" class="_card_pic">
                                              <img alt="" title="" :src="f.user.profile_pic" class="_card_img">
                                          </a>

                                          <div class="_card_details">
                                              <div class="_card_name_all">
                                                  <span class="_card_name_main">
                                                      <a href="" class="_card_name">{{f.user.first_name}} {{f.user.last_name}}</a>
                                                  </span>
                                                  <!-- <span class="_card_name_span">updated the profile picture</span> -->
                                              </div>
                                              <p class="_card_time">
                                                  {{f.created_at | luxonRelative}}
                                                  <span class="_card_time_public">
                                                      <i class="fas fa-globe"></i>
                                                  </span>
                                              </p>
                                          </div>
                                      </div>

                                      <div class="_card_body">
                                          <p class="_card_text">{{f.feed_txt}}</p>
                                      </div>
                                       <div class="_num_like_all">
                                          <div class="_num_like_left">
                                              <p class="_num_like_text _num_like_text_like">
                                                <span>{{ f.like_count}} {{f.like_count > 1 ? 'Likes' : 'Like'}}</span>
                                              </p>
                                          </div>
                                          <div class="_num_like_right">
                                              <p class="_num_like_text">{{f.comment_count}} {{f.comment_count > 1 ? 'Comments' : 'Comment'}}</p>
                                          </div>
                                      </div>

                                      <like :feed ="f"></like>

                                      <commentBox :feed="f"></commentBox>
                                      <comments :feed= "f"></comments>

                                  </div>

                              </div>
                          </div>
                    </div>
                </div>

                <div class="_num_like_all">
                    <div class="_num_like_left">
                        <p class="_num_like_text _num_like_text_like">
                           <span>{{ f.like_count}} {{f.like_count > 1 ? 'Likes' : 'Like'}}</span>
                        </p>
                    </div>
                    <div class="_num_like_right">
                        <p class="_num_like_text">{{f.comment_count}} {{f.comment_count > 1 ? 'Comments' : 'Comment'}}</p>
                    </div>
                </div>

                <like :feed ="f"></like>

                <commentBox :feed="f"></commentBox>
                <comments :feed= "f"></comments>

            </div>
        </template>



    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import imageFeed from '././feedCards/imageFeed'
import linkPreview from '././feedCards/linkPreview.vue'
import like from './feedCards/like/like'
import commentBox from './feedCards/feedComments/feedCommentBox'
import comments from './feedCards/feedComments/feedComments'
export default {
   props: ['query'],
  data(){
    return{
      isloaded: false,
      isHide: false,
      isModal: false,
      showImageModal: false,
    }
  },
  components: {
    imageFeed,
    like,
    commentBox,
    comments,
    linkPreview
  },
  computed : {
     ...mapGetters({
       feeds : 'getFeeds'
     })
  },
  methods:{
     checkPostMove(f){
        if(this.$route.name == 'index'){
           this.$router.push(`/post/${f.id}?view=${f.activity_type}&editing=no`)
        }else{
           this.showImageModal = true
        }

     }
  },
  filters: {
     getReactionsCounts(reaction){
        let total = 0
        for(let i in reaction){
           total += parseInt(reaction[i])
        }
        return total
     }
  },
  created() {
     if(this.$route.query && this.$route.query.view=='image'){
        this.showImageModal = true
     }
  },



}
</script>
