<template>
    <div>
        <div :class="isStatusbox ? '_statusBox_open _statusBox _mar_b20' : '_statusBox _mar_b20'">
                <div class="_statusBox_top">
                    <div class="_statusBox_top_pic"><img :src="$store.state.authUser.profile_pic" alt="" title="" class="_statusBox_top_img" /></div>
                    <div class="_statusBox_input" @click="isStatusbox = true"><input type="text" placeholder="Create a new post..." /></div>
                </div>

                <div class="_statusBox_main_all">
                    <div class="_statusBox_main _padd">
                        <p class="_statusBox_close" @click="closeBox"><Icon type="md-close" /></p>
                        <div class="_statusBox_main_top">
                            <div class="_statusBox_main_pic"><img :src="$store.state.authUser.profile_pic" alt="" title="" class="_statusBox_main_img _1border_color" /></div>
                            <div class="_statusBox_main_details">
                                <p class="_statusBox_main_name">{{$store.state.authUser.first_name}} {{$store.state.authUser.last_name}}</p>
                                <div class="_statusBox_main_drop">
                                    <Dropdown trigger="click"  placement="bottom-start"  @on-click="changePrivasyOption">
                                        <a href="javascript:void(0)" class="_statusBox_main_text">
                                            {{feed.feed_privacy}}
                                            <i class="ivu-icon ivu-icon-ios-arrow-down"></i>
                                        </a>

                                        <DropdownMenu slot="list" >
                                             <DropdownItem name="Public" :selected="feed.feed_privacy=='Public'? true:false" >Public</DropdownItem>
                                             <DropdownItem name="Only Me" :selected="feed.feed_privacy=='Only Me'? true:false">Only Me</DropdownItem>
                                             <DropdownItem name="Friends" :selected="feed.feed_privacy=='Friends'? true:false">Only Friends</DropdownItem>
                                        </DropdownMenu>
                                    </Dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="_statusBox_textarea">
                            <textarea id="status_box" type="text" @keyup="checkUrls" v-model="feed.feed_txt" :placeholder="`What's on your maind ${$store.state.authUser.first_name}`" class="_statusBox_textarea_text"></textarea>
                        </div>
                         <div target="_blank" class="meta_a" v-if="feed.meta_data.linkMeta">
                              <div class="link_meta-img" v-if="feed.meta_data.linkMeta.image">
                                  <img alt="" title="" class="link_meta-img_image" :src="feed.meta_data.linkMeta.image" lazy="loaded">
                              </div>

                              <div class="link_meta-text no_margin">
                                  <a :href="feed.meta_data.linkMeta.url" target="_blank" class="">
                                      <p class="link_meta-text_login">
                                          {{feed.meta_data.linkMeta.siteName}} | {{feed.meta_data.linkMeta.title}}
                                      </p>
                                      <p class="link_meta-text_text">
                                          {{feed.meta_data.linkMeta.description}}
                                      </p>
                                  </a>
                              </div>

                              <div class="link_meta-text_i">
                                  <i class="ivu-icon ivu-icon-md-close" style="color: rgb(85, 85, 85) !important;"></i>
                              </div>
                          </div>



                        <div class="_statusBox_options">
                             <div v-if="uploadType=='image'">
                                  <vue-file-agent
                                    :multiple="true"
                                    :deletable="true"
                                    @select="filesSelected($event)"
                                    :meta="true"
                                    :accept="'image/*'"
                                    :maxSize="'5MB'"
                                    :maxFiles="5"
                                    :resumable="true"
                                    :helpText="'Choose images only'"
                                    @beforedelete="onBeforeDelete($event)"
                                    @delete="fileDeleted($event)"
                                    :errorText="{
                                      type: 'Invalid file type. Only images are allowed',
                                      size: 'Files should not exceed 5MB in size',
                                    }"
                                  ref="vueFileAgent" v-model="fileRecords"></vue-file-agent>
                              </div>
                              <div v-if="uploadType=='video'">
                                  <vue-file-agent
                                    :multiple="false"
                                    :deletable="true"
                                    @select="filesSelected($event)"
                                    :meta="true"
                                    :accept="'video/*'"
                                    :maxSize="'50MB'"
                                    :resumable="true"
                                    :helpText="'Choose video only'"
                                    @beforedelete="onBeforeDelete($event)"
                                    @delete="fileDeleted($event)"
                                    :errorText="{
                                      type: 'Invalid file type. Only video is allowed',
                                      size: 'Files should not exceed 50MB in size',
                                    }"
                                  ref="vueFileAgent" v-model="fileRecords"></vue-file-agent>

                              </div>
                            <div class="row">



                              <div class="col-12 col-md-6 col-lg-6" @click="uploadType='image'" >
                                    <div class="_statusBox_options_items">
                                        <div class="_statusBox_options_icon">
                                            <i class="fas fa-camera-retro"></i>
                                        </div>

                                        <p class="_statusBox_options_text">Upload Photos</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6" @click="uploadType='video'" >
                                    <div class="_statusBox_options_items">
                                        <div class="_statusBox_options_icon">
                                            <i class="fas fa-video"></i>
                                        </div>

                                        <p class="_statusBox_options_text">Upload Video</p>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-md-6 col-lg-6">
                                    <div class="_statusBox_options_items">
                                        <div class="_statusBox_options_icon">
                                            <i class="fas fa-imo"></i>
                                        </div>

                                        <p class="_statusBox_options_text">Emoticon</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="_statusBox_options_items">
                                        <div class="_statusBox_options_icon">
                                            <i class="fas fa-palette"></i>
                                        </div>

                                        <p class="_statusBox_options_text">Colored Background</p>
                                    </div>
                                </div> -->






                            </div>
                        </div>

                        <div class="_statusBox_main_bottom">
                            <Button type="default" @click="createFeed" :disabled="isCreating" :loading="isCreating" class="ivu-btn ivu-btn-primary ivu-btn-long ivu-btn-large">
                                <span>{{isCreating ? 'Please wait...' : 'Share'}}</span>
                            </Button>
                        </div>
                    </div>
                    <div @click="isStatusbox = false" class="_statusBox_overlay"></div>
                </div>
            </div>

    </div>
</template>

<script>

export default {
  data(){
    return{
      feed : {
          feed_txt : '',
          files : null,
          meta_data : {
            linkMeta: null,
            contentsMetaData: null
          },
          feed_privacy: 'Public',
          activity_type : 'feed'
      },
      isCreating : false,
      isStatusbox : false,
      allUrls : [],
      tryUrl: '',
      hasPreviewLoaded: false,
      loadingLink : false,

      fileRecords: [],
      fileRecordsForUpload: [], // maintain an upload queue
      uploadType : '',


    }
  },

  methods:{
      async createFeed(){
         if(!this.feed.feed_txt && !this.feed.files){
            this.isStatusbox = false
            return this.i('Please write a status or upload image or video')
         }

         this.feed.meta_data = JSON.stringify(this.feed.meta_data)
         this.feed.files = this.uploadType
         let formData = new FormData()
          this.fileRecords.forEach (( file ,index) => {
              //create a form data
             formData.append("images", file.file )
          })

          formData.append('feed_txt', this.feed.feed_txt)
          formData.append('files', this.feed.files)
          formData.append('meta_data', this.feed.meta_data)
          formData.append('feed_privacy', this.feed.feed_privacy)

          formData.append('activity_type', this.feed.activity_type)
          //const res = await this.callApi('post', 'feed/uploadImage', formData)
         this.isCreating = true
         const res = await this.callApi('post', 'feed/createFeed', formData)
         if(res.status===200){
            this.isStatusbox = false
            this.feed = {
              feed_txt : '',
              files : null,
              meta_data : {
                linkMeta: null
              },
              feed_privacy: 'public',
              activity_type : 'feed'
            }
            let singleReturnedFeed = res.data

            singleReturnedFeed.user = this.$store.state.authUser
            singleReturnedFeed.like = null
            singleReturnedFeed.meta_data = JSON.parse(res.data.meta_data)
            this.$store.commit('setNewSingleFeed', singleReturnedFeed)
            this.hasPreviewLoaded = false
            this.loadingLink = false

            //this.s('Uploaded')
         }
         this.isStatusbox = false
         this.isCreating = false
      },
      privacyClicked(privacy){
         console.log(';;;;jnjkn',privacy)
      },
      closeBox(){
         if(this.feed.feed_txt =='' && !this.feed.files) return this.isStatusbox = false
         if(!confirm('Are you sure you want stop creating the feed? Confirming will delete all info you have writen.')) return
         this.feed = {
            feed_txt : '',
            files : null,
            meta_data : null,
            feed_privacy: 'public',
            activity_type : 'feed'
         }
         this.isStatusbox = false

      },
      changePrivasyOption(value){
         this.feed.feed_privacy = value
      },
      async getLinkPreview(url){
        this.loadingLink = true
         const res = await this.callApi('post', 'feed/getLinkPreview', {url: url})
         if(res.status==200){
            if(res.data.metaData){
               this.hasPreviewLoaded = true
               this.feed.meta_data.linkMeta = {
                  siteName : res.data.metaData.siteName,
                  title : res.data.metaData.title,
                  url : res.data.metaData.url,
                  image: res.data.metaData.images.length? res.data.metaData.images[0] : null,
                  description: res.data.metaData.description,
               }
            }
         }
         this.loadingLink = false
      },
      checkUrls() {
         if(this.hasPreviewLoaded || this.loadingLink) return
         let regex = /(\b(https?):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
         let url = this.feed.feed_txt.match(regex);
         if(url !=null && url.length > 0){
             this.getLinkPreview(url[0])
         }

      },
      uploadFiles2 () {
        console.log('uploadfile')
        console.log(this.fileRecordsForUpload)
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.upload(this.uploadUrl, {}, this.fileRecordsForUpload);
        this.fileRecordsForUpload = [];
      },
      async uploadFiles (){

          let formData = new FormData()
          this.fileRecords.forEach (( file ,index) => {
              //create a form data
             formData.append("images", file.file )
          })

          formData.append('feed_txt', this.feed.feed_txt)
          formData.append('files', this.feed.files)
          formData.append('meta_data', this.feed.meta_data)
          formData.append('feed_privacy', this.feed.feed_privacy)
          formData.append('feed_txt', this.feed.feed_txt)
          formData.append('activity_type', this.feed.activity_type)
          const res = await this.callApi('post', 'feed/uploadImage', formData)
          console.log(res)
      },
      deleteUploadedFile(fileRecord) {
        console.log('deleteUploadedFile',fileRecord)
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.deleteUpload(this.uploadUrl, {}, fileRecord);
      },
      filesSelected(fileRecordsNewlySelected) {
        console.log('fileRecordsNewlySelected',fileRecordsNewlySelected)
        var validFileRecords = fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error);
        this.fileRecordsForUpload = this.fileRecordsForUpload.concat(validFileRecords);
      },
      onBeforeDelete(fileRecord) {
        console.log('fileRecord',fileRecord)
        var i = this.fileRecordsForUpload.indexOf(fileRecord);
        if (i !== -1) {
        // queued file, not yet uploaded. Just remove from the arrays
          this.fileRecordsForUpload.splice(i, 1);
          var k = this.fileRecords.indexOf(fileRecord);
          if (k !== -1) this.fileRecords.splice(k, 1);
        } else {
          if (confirm('Are you sure you want to delete?')) {
            this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
          }
        }
      },
      fileDeleted(fileRecord) {
        console.log('fileRecord',fileRecord)
        var i = this.fileRecordsForUpload.indexOf(fileRecord);
        if (i !== -1) {
          this.fileRecordsForUpload.splice(i, 1);
        } else {
          this.deleteUploadedFile(fileRecord);
        }
      },

  },
  created() {
     if(this.$route.query && this.$route.query.editing=='yes'){
        this.isStatusbox = true
     }
    //  console.log('query', this.$route.query)
  },




}
</script>
