/* Mobile */
@media only screen and (max-width: 765px) {
  ._menu {
      padding: 12px 0px;
  }
  ._2banner_pro {
      left: 20px;
      width: calc(100% - 40px);
      bottom: -10px;
  }
  ._2banner_pro_pic {
      height: 80px;
      width: 80px;
      flex: 0 0 80px;
      border: 2px solid #fff;
  }
  ._2banner_pro_name {
      font-size: 16px;
      padding: 0 0px 0 15px;
  }
  ._2banner_pro_pic._active::before {
      height: 11px;
      width: 11px;
      bottom: 3px;
      right: 8px;
      border: 2px solid #fff;
  }
  ._2banner_menu_list {
      /* margin-bottom: 22px; */
  }
  ._2banner_menu_list_ul li._active a::before {
      bottom: -8px;
  }
  ._about_menu {
      flex: 0 0 100%;
      border-right: 0px solid var(--border-color2);
      max-width: 100%;
  }
  ._about_details {
      flex: 0 0 100%;
      padding: 26px 0px 0 0px;
  }
  ._from_data {
      width: 100%;
      padding: 0 0 25px;
  }
  ._photo_albums_card {
      flex: 0 0 50%;
      max-width: 50%;
  }
  ._photo_albums_card_pic {
      height: 132px;
  }
  ._photo_main {
      flex: 0 0 50%;
      max-width: 50%;
  }
  ._photo_main_pic {
      height: 132px;
  }
  ._menu_right {
      width: auto;
  }
  ._menu_left {
      width: auto;
  }
  ._1banner_menu_list {
      margin-bottom: 10px;
      flex: 0 0 100%;
      padding: 0 8px 0;
      justify-content: center;
  }
  ._1banner_menu_options {
      flex: 0 0 100%;
      padding: 0 18px 20px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      position: relative;
  }
  ._1banner_title {
      font-size: 16px;
  }
  ._1banner_follow {
      font-size: 12px;
  }
  ._1banner_menu_list li a {
      font-size: 14px;
      padding: 8px 11px;
  }
  ._1banner_details_left {
      flex: 0 0 100%;
      padding: 0 15px 11px;
  }
  ._member_list_more_text {
      font-size: 14px;
  }
  ._member_list_card {
      padding: 10px 0;
  }
  ._1banner_pic {
      height: 135px;
  }
  ._member_list_card_pic {
      height: 45px;
      width: 45px;
      flex: 0 0 45px;
  }
  ._member_list_card_details {
      padding: 0 10px 0;
  }
  ._member_list_card_info {
      font-size: 12px;
  }
  ._member_list_card_name {
      font-size: 14px;
  }
  ._member_card_val {
      font-size: 13px;
  }
  ._1banner_menu {
      padding-right: 0;
  }
  ._only_desktop{
      display: none;
  }
  ._only_sm_md{
      display: block;
  }
  ._about_card {
      display: none;
  }
  ._comment_pic {
      flex: 0 0 30px;
      height: 30px;
      width: 30px;
  }
  ._1card_comment_box_pic {
      flex: 0 0 30px;
      margin-right: 10px;
      height: 30px;
      width: 30px;
      margin-right: 10px;
  }
  ._1card_count_list li {
      font-size: 12px;
      padding: 6px 0 5px;
  }
  ._comment_details {
      padding: 1px 0 0 10px;
  }
  ._1btn {
      padding: 0 12px;
      height: 32px;
      font-size: 12px;
  }
  ._3btn {
      padding: 0 12px;
      height: 32px;
      font-size: 12px;
  }
  ._2btn {
      padding: 0 12px;
      height: 32px;
      font-size: 12px;
  }
  ._card_text {
      font-size: 14px;
  }
  ._num_like_text {
      font-size: 14px;
  }
  ._about_card_info_title {
      font-size: 15px;
  }
  ._3banner_pro_pic {
      width: 100px;
      height: 100px;
  }
  ._1banner_details._3banner_details {
      margin-top: -80px;
      padding: 0;
  }
  ._3title {
      font-size: 16px;
  }
  ._2banner_pic {
      height: 150px;
  }
  ._2banner_menu_list_ul li {
      margin-right: 12px;
      margin-bottom: 0;
  }
  ._2banner_menu_list_ul li a {
      font-size: 14px;
  }
  ._photo_albums_name {
      font-size: 14px;
  }
  ._friend_card_name {
      font-size: 14px;
  }
  ._1title {
      font-size: 18px !important;
  }
  ._friend_main_all ._friend_card {
      padding: 12px 0;
  }
  ._friend_card_pic {
      height: 52px;
      width: 59px;
  }
  ._friend_card_main:nth-child(2) ._friend_card {
      border-top: 1px solid var(--border-color);
  }
  ._photo_menu_list li._active:before {
      bottom: -16px;
  }
  ._photo_menu_list li._active:after {
      bottom: -18px;
  }
  ._comment_reply_list li {
      font-size: 12px;
  }
  ._comment_reply_time_text {
      font-size: 11px;
  }
  ._1card_count_list li i {
      font-size: 14px;
  }
  ._1banner_details {
      padding: 17px 5px 17px;
  }
  ._photo_menu_list li {
      font-size: 14px;
      margin-right: 12px;
  }
  ._sidebar_main_all {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
  }
  ._menu_list_items {
      padding: 0 11px 0;
  }
  ._mobile_pro_main{
      display: inline-block;
  }
  ._4banner_title {
      font-size: 35px;
      line-height: 35px;
      margin: 30px 0 19px 0;
  }
  ._4banner_text {
      font-size: 20px;
  }
  ._4banner {
      padding: 1px 15px 116px;
  }
  ._2menu_long {
      min-width: 97px;
  }
  ._log_form_main {
      padding: 19px 20px 26px;
  }
  ._menu_logo_text_main{
      display: none;
  }
  ._menu_logo_text {
      padding-left: 0;
  }
  ._menu_logo_symbol {
      position: inherit;
      top: 0;
      transform: translateY(0%);
      left: 0;
  }
  ._mobile_search_main {
      display: inline-block;
  }
  ._1card_count_pic::before {
      height: 26px;
      width: 26px;
  }
  ._1card_count_img {
      width: 14px;
  }
  ._list_left {
      display: none;
  }
  ._list_content {
      margin-left: 0;
      padding: 0 15px 0;
  }
  ._list_menu li {
      padding: 6px 7px;
  }
  ._2banner_menu_list_ul li a {
      font-size: 14px;
      padding: 8px 11px;
  }
  ._2banner_menu {
      padding: 8px 10px 0 10px;
  }
  ._2banner_options {
      flex: 0 0 100%;
      padding: 10px 10px 19px 10px;
  }
  ._page_shimmer_proPic {
      width: 100px;
      height: 100px;
      margin: -79px auto 0;
  }
  ._page_shimmer_title {
      height: 12px;
      max-width: 115px;
      margin: 14px auto 0;
  }
  ._page_shimmer_pre {
      height: 9px;
      max-width: 180px;
      margin: 14px auto 0;
  }
  ._support_card {
      padding: 19px 18px;
  }
  ._support_title {
      margin: 0 0 10px 0;
      font-size: 20px;
      line-height: 30px;
  }
  ._create_content {
      padding: 0 15px 0;
  }
  ._advertise_wall_price {
      font-size: 33px;
      margin-bottom: 14px;
      text-align: center;
  }
  ._advertise_left ._advertise_Sub_title {
      text-align: center;
  }
  ._advertise_wall_input_icon {
      font-size: 40px;
  }
  ._advertise_wall_int {
      font-size: 39px;
  }
  ._advertise_wall_all {
      overflow: auto;
  }
  ._advertise_wall_two {
      flex: 0 0 100px;
  }
  ._saved_card_details {
      flex: 0 0 0100%;
      padding: 11px 0 0 0px;
  }
  ._saved_card_pic {
      flex: 0 0 100%;
      height: auto;
  }
  ._saved_card_img {
      min-height: 155px;
  }
  ._saved_card {
      margin-bottom: 30px;
  }
  ._1banner_menu_options_items {
      margin-right: 8px;
      position: initial;
      margin-top: 8px;
  }
  ._4banner_bottom ._4banner_cal {
      padding: 4px 0 0;
  }
  ._4banner_bottom ._1banner_details_left{
      flex: 1 1;
  }
  ._1dropdown._messDrop_all {
      right: -44px;
  }
  ._1dropdown {
      width: 337px;
  }
  ._1dropdown._friDrop {
      right: -95px;
  }
  ._1dropdown._noti_all {
      right: -8px;
  }
  ._friDrop_button {
      bottom: 27px;
  }
  ._1messenger_left {
      flex: 0 0 100%;
  }
  ._1messenger_search_header {
      padding: 16px 20px 16px;
      height: 75px;
  }
  ._imageModal_left {
      height: auto;
      flex: 0 0 100%;
      background: #000;
      position: relative;
  }
  ._imageModal_right {
      flex: 0 0 100%;
      height: auto;
      position: static;
  }
  ._imageModal {
      padding: 45px 15px 35px;
  }
  ._imageModal_main {
      height: 100%;
      overflow: auto;
      position: relative;
  }
  ._imageModal {
      height: 100vh;
      padding: 45px 15px 35px;
  }
  ._imageModal_commet_main {
      max-height: 350px;
      padding: 0 11px 0;
  }
  ._imageModal_right_close {
      color: #fff;
      text-shadow: 0px 0px 20px #000;
  }
  ._advertise_left {
      flex-basis: 100%;
      -ms-flex: 0 0 auto;
      max-width: 100%;
  }
  ._advertise_right {
      flex-basis: 100%;
      max-width: 100%;
  }
  ._advertise_wall_buttons {
      text-align: center;
  }
  ._searchPage_filter_list li {
      flex: 0 0 auto;
  }
  ._setting_card_form {
      padding: 28px 0px 0;
  }
  ._setting_left {
      flex: 0 0 100%;
      border-right: 0px solid var(--border-color2);
      max-width: 100%;
  }
  ._2search {
      right: 50%;
      width: 320px;
      transform: translateX(50%);
  }
  ._setting_main {
      flex: 0 0 100%;
      padding: 20px 0px 0 0px;
  }
  ._setting_card_right {
      max-width: 110px;
  }
  ._2banner_options_items {
      position: initial;
  }
  ._2banner_options_list {
      position: relative;
  }
  ._2search {
      width: 291px;
  }
  ._2banner_options_items {
      margin-left: 5px;
  }

  }

  @media only screen and (max-width: 350px) {
  ._menu_list_items {
      padding: 0 5px 0;
  }
  ._2banner_pro_name {
      font-size: 14px;
      padding: 0 10px 0 12px;
  }
  ._1dropdown {
      width: 300px;
  }
  ._1dropdown._friDrop {
      right: -70px;
  }
  ._1dropdown._messDrop_all {
      right: -37px;
  }
  ._searchPage_filter_list_text {
      padding: 10px 15px;
  }
  .ivu-steps .ivu-steps-title {
      font-size: 11px !important;
      padding-right: 0px !important;
  }
  ._1card_count_pic {
      margin: 0 10px 0 0;
  }
  ._1card_count_list li {
      font-size: 11px;
  }
  ._1card_count_pic::before {
      height: 23px;
      width: 23px;
  }
  ._photo_menu_button{
      flex: 0 0 100%;
      padding-top: 10px;
  }
  ._photo_menu_list li._active:after {
      bottom: -54px;
  }
  ._photo_menu_list li._active:before {
      bottom: -53px;
  }
  ._searchPage_filter_list_text {
      padding: 10px 14px;
  }
  ._1btn {
      padding: 0 10px;
  }
  ._2btn {
      padding: 0 10px;
  }
  ._3btn {
      padding: 0 10px;
  }

  }
  /* Mobile */

  /* Ipad */
  @media only screen and (min-width: 768px) and (max-width: 1050px) {
  ._menu {
      padding: 8.5px 25px;
  }
  ._menu_right {
      width: auto;
  }
  ._mobile_pro_main{
      display: inline-block;
  }
  ._menu_page._sidebar_main_all {
      display: block;
  }
  ._menu_left {
      width: auto;
  }
  ._photo_albums_card {
      flex: 0 0 25%;
      max-width: 25%;
  }
  ._photo_albums_card_pic {
      height: 132px;
  }
  ._photo_main {
      flex: 0 0 25%;
      max-width: 25%;
  }
  ._photo_main_pic {
      height: 139px;
  }
  ._only_desktop{
      display: block;
  }
  ._only_sm_md {
      display: block;
      flex: 0 0 auto;
      width: auto;
  }
  ._list_left {
      display: none;
  }
  ._list_content {
      margin-left: 0;
      padding: 0 64px 0;
  }
  ._2banner_options {
      flex: 0 0 100%;
      padding: 17px 20px 19px;
  }
  ._2banner_pro_name {
      font-size: 28px;
      line-height: 37px;
  }
  ._advertise_left {
      flex-basis: 277px;
      max-width: 300px;
  }
  ._advertise_wall_all {
      overflow: auto;
  }
  ._advertise_wall_two {
      flex: 0 00 100px;
  }
  ._advertise_wall_buttons {
      padding-top: 12px;
  }
  ._advertise_main {
      overflow: auto;
  }
  ._1banner_menu_options {
      flex: 0 0 100%;
      padding: 21px 18px 20px;
      flex-wrap: wrap;
      position: relative;
  }
  ._1mess_pro {
      display: none;
  }
  ._1messenger_left {
      flex: 0 0 299px;
  }
  ._1fri_files {
      width: 270px;
  }
  ._1fri_mess_pic {
      -ms-flex: 0 0 163px;
      flex: 0 0 163px;
      max-width: 163px;
      height: 141px;
  }
  ._1fri_mess ._chatBox_mess_drop {
      opacity: 1;
  }
  ._1own_mess ._chatBox_mess_drop {
      opacity: 1;
  }
  ._1mess_textarea {
      padding: 18px 15px 18px;
  }
  ._imageModal_right {
      flex: 0 0 50%;
  }
  ._imageModal_left {
      flex: 0 0 50%;
  }
  ._setting_card_form {
      flex: 0 0 100%;
      padding: 28px 0px 0;
  }
  }
  /* Ipad */

  /* Ipad pro */
  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
  ._2banner_options {
      flex: 0 0 auto;
  }
  ._1fri_mess ._chatBox_mess_drop {
      opacity: 1;
  }
  ._1own_mess ._chatBox_mess_drop {
      opacity: 1;
  }
  ._1fri_mess_pic {
      -ms-flex: 0 0 210px;
      flex: 0 0 193px;
      max-width: 203px;
      height: 170px;
  }
  }
  /* Ipad pro */

  /* Desktop 1366 */
  @media only screen and (max-width: 1500px) {


  }
