<template>
  <div target="_blank" class="meta_a">
        <div class="link_meta-img" v-if="feed.meta_data.linkMeta.image">
            <img alt="" title="" class="link_meta-img_image" :src="feed.meta_data.linkMeta.image" lazy="loaded">
        </div>

        <div class="link_meta-text no_margin">
            <a :href="feed.meta_data.linkMeta.url" target="_blank" class="">
                <p class="link_meta-text_login">
                    {{feed.meta_data.linkMeta.siteName}} | {{feed.meta_data.linkMeta.title}}
                </p>
                <p class="link_meta-text_text">
                    {{feed.meta_data.linkMeta.description}}
                </p>
            </a>
        </div>

        <div class="link_meta-text_i">
            <i class="ivu-icon ivu-icon-md-close" style="color: rgb(85, 85, 85) !important;"></i>
        </div>
  </div>
</template>

<script>
export default {
    props: ['feed']
}
</script>
