<template>
  <div>
    <div class="_1card_comment_box">
      <div class="_1card_comment_box_pic _load_div">
        <img
          class="_1card_comment_box_img"
          :src="$store.state.authUser.profile_pic"
          alt=""
          title=""
        />
      </div>
      <div class="_1card_comment_box_input_icon">
        <div class="_1card_comment_box_input">
          <Input
            type="text"
            v-model="commentObj.comment_txt"
            @on-enter="createComment"
            placeholder="Write a comment..."
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: ["feed"],
  data() {
    return {
      commentObj: {
        comment_txt: "",
        feed_id: this.feed.id,
        parrent_id: null
      },
    };
  },

  methods: {
    async createComment() {

      this.commentObj.comment_txt = this.commentObj.comment_txt.trim()
      if (!this.commentObj.comment_txt || this.commentObj.comment_txt == "") return this.i("Please write your comment first");

      const res = await this.callApi(
        "post",
        "comment/createComment",
        this.commentObj
      );
      if (res.status == 200) {
          let obj = res.data;
          obj.user = this.$store.state.authUser;
          obj.replies = []
          obj.commentlike = null
          obj.like_count = 0
          obj.reply_count = 0
          this.feed.comments.push(obj)
          this.feed.comment_count++
          console.log(this.feed)
          //this.$store.commit("pushComment", obj);
          //this.$store.commit("increaseCommentCounter", obj);
          this.commentObj.comment_txt = "";
      }
    },
  },

  computed: {
    ...mapGetters({}),
  },


};
</script>
