<template>
  <div>
    <div class="_comment_main" v-for="(c, i) in feed.comments" :key="i" v-if="feed.comments.length">
      <a href="" class="_comment_pic">
        <img alt="" title="" class="_comment_img" :src="c.user.profile_pic" />
      </a>
      <div class="_comment_details">
        <div class="_comment_details_top">
          <div class="_comment_name">
            <a href="" class="_comment_name_text"> {{c.user.first_name}} {{c.user.last_name}} </a>
          </div>

          <div class="_comment_more" v-if="c.user.id == $store.state.authUser.id">
            <Dropdown trigger="click" placement="bottom-end"  @on-click="editOrDeleteComment($event, c,i)">
              <a class="_more" href="javascript:void(0)">
                <i class="fas fa-angle-down"></i>
              </a>

               <DropdownMenu slot="list" >
                    <DropdownItem name="Edit">Edit</DropdownItem>
                    <DropdownItem name="Delete">Delete</DropdownItem>

              </DropdownMenu>
            </Dropdown>
          </div>
        </div>
        <div class="_comment_status">
          <p class="_comment_status_text" v-if="!c.isCommentEdit">{{c.comment_txt}}</p>
          <!-- edit comment -->
          <div class="_1card_comment_box" v-if="c.isCommentEdit">
            <div class="_1card_comment_box_pic _load_div">
              <img
                class="_1card_comment_box_img"
                :src="$store.state.authUser.profile_pic"
                alt=""
                title=""
              />
            </div>
            <div class="_1card_comment_box_input_icon">
              <div class="_1card_comment_box_input">
                <Input
                  type="text"
                  v-model="commentEditTxt"
                  @on-enter="editComment(c)"
                  placeholder="Write a comment..."
                />
              </div>
            </div>
            <p class="_commentcancel" @click="c.isCommentEdit=false">Cancel</p>

          </div>

        </div>
        <div class="_comment_reply">
          <div class="_comment_reply_num">
            <ul class="_comment_reply_list">
              <!-- comment like -->

              <li class="" @click="likeComment(c)">
                <svg
                  style="enable-background: new 0 0 512 512; margin-bottom: 0px"
                  class="_1card_count_img"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.com/svgjs"
                  version="1.1"
                  x="0"
                  y="0"
                  viewBox="0 0 16 16"
                  xml:space="preserve"
                >
                  <g
                    transform="matrix(0.9799999999999999,0,0,0.9799999999999999,0.16000000000000103,0.16100000381469837)"
                  >
                    <path
                      xmlns="http://www.w3.org/2000/svg"
                      :fill="c.commentlike? '#2b78f4':'#65676b' "
                      d="M16 7.1c0-1.5-1.4-2.1-2.2-2.1h-2.2c0.4-1 0.7-2.2 0.5-3.1-0.5-1.8-2-1.9-2.5-1.9h-0.1c-0.4 0-0.6 0.2-0.8 0.5l-1 2.8-2.7 2.7h-5v9h5v-1c0.2 0 0.7 0.3 1.2 0.6 1.2 0.6 2.9 1.5 4.5 1.5 2.4 0 3.2-0.3 3.8-1.3 0.3-0.6 0.3-1.1 0.3-1.4 0.2-0.2 0.5-0.5 0.6-1s0.1-0.8 0-1.1c0.2-0.3 0.4-0.7 0.5-1.3 0-0.5-0.1-0.9-0.2-1.2 0.1-0.4 0.3-0.9 0.3-1.7zM2.5 13.5c-0.6 0-1-0.4-1-1s0.4-1 1-1 1 0.4 1 1c0 0.6-0.4 1-1 1zM14.7 9.1c0 0 0.2 0.2 0.2 0.7 0 0.6-0.4 0.9-0.4 0.9l-0.3 0.3 0.2 0.3c0 0 0.2 0.3 0 0.7-0.1 0.4-0.5 0.7-0.5 0.7l-0.3 0.3 0.2 0.4c0 0 0.2 0.4-0.1 0.9-0.2 0.4-0.4 0.7-2.9 0.7-1.4 0-3-0.8-4.1-1.4-0.8-0.4-1.3-0.6-1.7-0.6v0-6h0.1c0.2 0 0.4-0.1 0.6-0.2l2.8-2.8c0.1-0.1 0.1-0.2 0.2-0.3l1-2.7c0.5 0 1.2 0.2 1.4 1.1 0.1 0.6-0.1 1.6-0.6 2.8-0.1 0.3-0.1 0.5 0.1 0.8 0.1 0.2 0.4 0.3 0.7 0.3h2.5c0.1 0 1.2 0.2 1.2 1.1 0 0.8-0.3 1.2-0.3 1.2l-0.3 0.4 0.3 0.4z"
                      data-original="#444444"
                      style=""
                      class=""
                    />
                  </g>
                </svg>
                <span v-if="!c.commentlike">{{c.like_count > 0 ? c.like_count : '' }} {{c.like_count > 1 ? 'Likes' : 'Like' }}</span>
                <span v-else :class="`reaction-like reaction_text`">{{c.like_count > 0 ? c.like_count : '' }} {{c.like_count > 1 ? 'Likes' : 'Like' }}</span>
              </li>
              <!-- commennt reply button -->
              <li @click="openReply(c)">
                <svg
                  style="
                    enable-background: new 0 0 512 512;
                    margin-bottom: -2px;
                  "
                  class="_1card_count_img"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.com/svgjs"
                  version="1.1"
                  x="0"
                  y="0"
                  viewBox="0 0 477.867 477.867"
                  xml:space="preserve"
                >
                  <g
                    transform="matrix(0.99,0,0,0.99,2.389335174560557,2.3893354907235675)"
                  >
                    <g xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path
                          d="M426.667,0.002H51.2C22.923,0.002,0,22.925,0,51.202v273.067c0,28.277,22.923,51.2,51.2,51.2h60.587l-9.284,83.456    c-1.035,9.369,5.721,17.802,15.09,18.837c4.838,0.534,9.674-1.023,13.292-4.279l108.919-98.014h186.863    c28.277,0,51.2-22.923,51.2-51.2V51.202C477.867,22.925,454.944,0.002,426.667,0.002z M443.733,324.269  c0,9.426-7.641,17.067-17.067,17.067H233.25c-4.217,0.001-8.284,1.564-11.418,4.386l-80.452,72.414l6.434-57.839    c1.046-9.367-5.699-17.809-15.067-18.856c-0.63-0.07-1.263-0.106-1.897-0.105H51.2c-9.426,0-17.067-7.641-17.067-17.067V51.202    c0-9.426,7.641-17.067,17.067-17.067h375.467c9.426,0,17.067,7.641,17.067,17.067V324.269z"
                          fill="#65676b"
                          data-original="#000000"
                          style=""
                          class=""
                        />
                      </g>
                    </g>
                  </g>
                </svg>
                Reply
              </li>
              <li v-if="c.reply_count > c.replies.length" @click="loadMoreReply(c)">{{c.reply_count == 1 ? 'View 1 Reply' : `View ${c.reply_count - c.replies.length} more replies`}}</li>
            </ul>
          </div>

          <div class="_comment_reply_time">
            <p class="_comment_reply_time_text">{{c.created_at | luxonRelative}}</p>
          </div>

        </div>
        <!-- reply components -->
        <div class="_reply" keys="rep0">
           <replies :replies="c.replies" :comment="c"></replies>
        </div>
      </div>
    </div>
    <!-- delete comment confirmation -->
    <Modal v-model="isDeleteComment" width="360">
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="ios-information-circle"></Icon>
            <span>Delete confirmation</span>
        </p>
        <div style="text-align:center">
            <p>Are you sure you want to delete this comment?</p>
        </div>
        <div slot="footer">
            <Button type="error" size="large" long :loading="isDeleting" @click="deleteComment">Delete</Button>
        </div>
    </Modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import replies from './feedReply/feedReply.vue'
import commentBox from './feedCommentBox.vue'
export default {
  props : ['feed'],
  data() {
    return {
       isEdit : false,
       commentEditTxt: '',
       isDeleteComment : false,
       isDeleting: false,
       commentObj: null,
       commentDeleteIndex : -1

    };
  },

  methods: {
    openReply(c) {
       this.$set(c, 'isBoxOpen', true)
    },
    async loadMoreReply(c){
      let lastCommentId = c.replies.length ? c.replies[c.replies.length - 1].id : ''
      const res = await this.callApi('get', `comment/getReply/${c.id}?more=${lastCommentId}`)
      if(res.status==200){
         for(let d of res.data){
            c.replies.push(d)
         }
      }
    },
    async likeComment(c){
        let likeObj = {
          comment_id : c.id,
        }
       const res = await this.callApi('post','comment/likeComment', likeObj)
       if(res.status==200){
          likeObj.feed_id = this.feed.id
          if(c.commentlike){
            this.$store.commit('removeCommentLike', likeObj)
          }else{
           this.$store.commit('addCommentLike', likeObj)
          }

        }
    },
    editOrDeleteComment(v,c,i){ // edit/delete / comment obj
        if(v=='Edit'){
            this.commentEditTxt = c.comment_txt
            this.$set(c, 'isCommentEdit', true)
        }else{
           this.isDeleteComment = true
           this.commentObj = c
        }
        this.commentDeleteIndex = i
    },
    async editComment(c){
      const res = await this.callApi('post','comment/editComment', {id:c.id, comment_txt: this.commentEditTxt})
      if(res.status==200){
         c.comment_txt = this.commentEditTxt
         this.commentEditTxt = ''
         c.isCommentEdit = false
      }
    },
    async deleteComment(){
      this.isDeleting = true
      const res = await this.callApi('post','comment/deleteComment', {id: this.commentObj.id, feed_id : this.commentObj.feed_id, parrent_id :this.commentObj.parrent_id })
      if(res.status==200){
          this.feed.comments.splice(this.commentDeleteIndex, 1)
          this.feed.comment_count--
          this.isDeleteComment = false
          this.s('Comment has been deleted!')
      }
      this.isDeleting = false
    },
  },

  computed: {
    ...mapGetters({}),
  },
  components: {
    replies,
    commentBox
  }
};
</script>
