<template>
    <div>
      <div id="main-wrapper" v-if="showShowLayout">
        <topMenu></topMenu>
        <div class="_main_layout">
           <masterLayout></masterLayout>
        </div>
      </div>
      <div id="main-wrapper" v-if="!showShowLayout">
           <Nuxt />
      </div>

    </div>
</template>




<script>
 import topMenu from '../components/fixedComponents/topMenu'
 import masterLayout from '../components/fixedComponents/masterLayout'
  export default {
     data(){
        return {
            showShowLayout : true
        }
     },
     created() {
        console.log(this.$route.name)
        if(this.$route.name == 'signup' || this.$route.name == 'login'){
          this.showShowLayout = false
        }
        this.callApi('get', 'auth/csrfCookie')
     },


    components : {
      topMenu,
      masterLayout
    }

  }

</script>
