<template>
  <div>
      <div class="_statusBox_layout">
          <statusBox/>
      </div>
       <!-- Feed -->
      <div class="_feed_main">
          <feed/>
      </div>
      <!-- Feed -->
  </div>
</template>


<script>
import statusBox from '../components/feed/statusBox'
import feed from '../components/feed/feed'
export default {
    middleware : 'auth',
    data(){
      return {

      }
    },
    async asyncData({app, store}) {
        try {
          let {data} = await app.$axios.get('/feed/getFeed')
          store.commit('setFeed', data)

        } catch (error) {
            console.log(error)
        }
    },

    components : {
      statusBox,
      feed,
    }
}
</script>


