
<template>
    <div>
        <div class="_2menu">
            <div class="_2menu_con">
                <div class="row align-items-center">
                    <div class="col">
                        <router-link to="/">
                            <h3 class="_menu_logo_text">
                                <span class="_menu_logo_symbol">C</span>
                                <span class="_menu_logo_text_main">CONNECTIVER</span>
                            </h3>
                        </router-link>
                    </div>

                    <div class="col-auto">
                        <router-link to="/signup">
                            <button class="_log_btn _2menu_long" type="button">Sign Up</button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="_4banner">
            <div class="_4banner_main">
                <h1 class="_4banner_title">Connectiver</h1>
                <p class="_4banner_text">Creating a conscious and safe community where human<br/> connection and new ideas can thrive</p>
            </div>
        </div>
        <!-- Banner -->

        <!-- Form -->
        <div class="_log_form_main">
            <h2 class="_log_form_title">Login</h2>

            <div class="_log_form">
                 <div class="_log_input_group">
                    <Input class="_log_input" size="large" placeholder="Email address" v-model="user.email"  type="text"></Input>
                </div>
                <div class="_log_input_group">
                    <Input class="_log_input" size="large" placeholder="Password" v-model="user.password"  type="password"></Input>
                </div>
                <div class="_log_button">
                    <Button class="_log_btn _btn_long" :loading="isSiningup" :disabled="isSiningup" @click="login">Login</Button>
                </div>

                <p class="_log_forget"><router-link to="/forgetPassword">Forgot password?</router-link></p>
            </div>
        </div>
        <!-- Form -->
    </div>
</template>

<script>
export default {
    middleware : 'guest',
    data(){
       return{
          user : {
              email : '',
              password : '',

          },
          isSiningup : false
       }
    },
    methods : {
       async login(){
          if(this.user.email == '') return this.i("Email is requied")
          if(this.user.password == '') return this.i("Password is requied")
          this.isSiningup = true
          const res = await this.callApi('post', 'auth/login', this.user)
          if(res.status==200){
             this.s(res.data.msg)
            window.location = '/'
          }else if(res.status==422){
             for(let e of res.data.errors){
                this.i(e.message)
             }
          }else{
             this.swr()
          }
          this.isSiningup = false
       }
    }
}
</script>


