<template>
    <div>
        <div class="_2menu">
            <div class="_2menu_con">
                <div class="row align-items-center">
                    <div class="col">
                        <router-link to="/">
                            <h3 class="_menu_logo_text">
                                <span class="_menu_logo_symbol">C</span>
                                <span class="_menu_logo_text_main">CONNECTIVER</span>
                            </h3>
                        </router-link>
                    </div>

                    <div class="col-auto">
                        <router-link to="/login">
                            <button class="_log_btn _2menu_long" type="button">Login</button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="_4banner">
            <div class="_4banner_main">
                <h1 class="_4banner_title">Connectiver</h1>
                <p class="_4banner_text">Creating a conscious and safe community where human<br/> connection and new ideas can thrive</p>
            </div>
        </div>
        <!-- Banner -->

        <!-- Form -->
        <div class="_log_form_main">
            <h2 class="_log_form_title">Sign Up</h2>

            <div class="_log_form">
                <div class="_log_input_group">
                    <Input class="_log_input" size="large" placeholder="First name" v-model="user.first_name" type="text"></Input>
                </div>
                <div class="_log_input_group">
                    <Input class="_log_input" size="large" placeholder="Last name" v-model="user.last_name"  type="text"></Input>
                </div>
                <div class="_log_input_group">
                    <Input class="_log_input" size="large" placeholder="Email address" v-model="user.email"  type="text"></Input>
                </div>
                <div class="_log_input_group">
                    <Input class="_log_input" size="large" placeholder="Password" v-model="user.password"  type="password"></Input>
                </div>
                <div class="_log_input_group">
                    <Input class="_log_input" size="large" placeholder="Confirm password" v-model="user.password_confirmation"  type="password"></Input>
                </div>
                <div class="_log_input_group">
                    <Select  size="large" placeholder="Select gender" v-model="user.gender" >
                        <Option value="Female">Female</Option>
                        <Option value="Male">Male</Option>
                        <Option value="Other">Other</Option>
                    </Select>
                </div>

                <div class="_log_input_group">
                    <div class="_log_checkBox" >
                        <Checkbox v-model="user.agree">I agree with the <a href="">Terms</a> & <a href="">Privacy</a></Checkbox>

                    </div>
                </div>
                <div class="_log_button">
                    <Button :loading="isSiningup" :disabled="isSiningup" class="_log_btn _btn_long" @click="signup">Sign Up</Button>
                </div>
            </div>
        </div>
        <!-- Form -->
    </div>
</template>


<script>
export default {
    middleware : 'guest',
    data(){
       return{
          user : {
             first_name : '',
             last_name : '',
             email : '',
             password : '',
             password_confirmation : '',
             gender : '',
             agree: true
          },
          isSiningup : false
       }
    },
    methods : {
       async signup(){
          // if(!this.user.agree) return this.i('Please accept our temrs and privacy policy')
          // if(this.user.first_name == '') return this.i("Firstname is requied")
          // if(this.user.last_name == '') return this.i("Lastname is requied")
          // if(this.user.email == '') return this.i("Email is requied")
          // if(this.user.password == '') return this.i("Password is requied")
          // if(this.user.password.trim().length < 6) return this.i("Password must be at least 6 charecters long.")
          // if(this.user.password != this.user.password_confirmation) return this.i("Password and confirm password doesn't match")
          // if(this.user.gender == '') return this.i('Gender is required')
          this.isSiningup = true
          const res = await this.callApi('post', 'auth/signup', this.user)
          if(res.status==200){
             this.s(res.data.msg)
             window.location = '/'
          }else if(res.status==422){
             for(let e of res.data.errors){
                this.i(e.message)
             }
          }else{
             this.swr()
          }
          this.isSiningup = false
       }
    }
}
</script>


